/*!
global > color
------------------------------
*/
:root {
    --color-bg-primary: rgb(55 40 0 / 50%);
    --color-bg-secondary: #ebdbb0;
    --color-bg-brown: rgb(78 61 28 / 80%);
    --color-bg-white: #ffffff;
    --color-bg-light-white: #fffff7;
    --color-border-black: #000000;
    --color-border-white: #ffffff;
    --color-font-primary: rgb(55 40 0 / 50%);
    --color-font-brown: #4e3d1c;
    --color-font-grey: #3b3b3b;
    --color-font-white: #fffff7;
    --color-font-red: #b84b1b;
}
